.container h1{
    font-size: 1.3rem;
    padding: 0 10px;
}
.menu-toggle{
    width: 30px;
    height: 20px;
    margin-right: 35px;
    user-select: none;
    cursor: pointer;
}
.one,
.two,
.three{
    height: 3px;  
}
.txt{
    font-size: 0.5em;
}
nav.about a{
    font-size: 0.6rem;
}

section .grid h2{
    font-size: 0.6rem;
    padding: 5px;
}

footer{
    height: 30vh;
    font-size: 0.7rem;
}

footer p{
    padding-bottom: 2px;
}
footer img{
    width: 25px;
}
