.container h1{
    font-size: 1.3rem;
    padding: 0 10px;
}
.menu-toggle{
    width: 30px;
    height: 20px;
    margin-right: 35px;
    user-select: none;
    cursor: pointer;
}
.one,
.two,
.three{
    height: 3px;  
}
.txt{
    font-size: 0.5em;
}
nav.about a{
    font-size: 0.6rem;
}

.txtAbout {
    height: auto;
    padding: 5px;
}

.txtAbout p{
    font-size: 0.7rem;
}

.txtAbout h2{
    font-size: 1rem;
}

.topAbout {
    margin-top: 20px;
    flex-direction: column-reverse;
}

.topAbout .div2{
    max-width: 80px;
    max-height: 150px;
    padding: 70px;
    margin: auto;
}

.topAbout .div1 {
    margin-top: 10px;
}

section .grid h2{
    font-size: 0.6rem;
    padding: 5px;
}

footer{
    height: 30vh;
    font-size: 0.7rem;
}

footer p{
    padding-bottom: 2px;
}
footer img{
    width: 25px;
}
