body{
    background-color: rgba(123, 60, 192, 0.553);
}
header{
    color: white;
    text-align: center;
}
section{
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 6px 6px 10px rgba(124, 60, 192, 0.345);
}
#saida{
    text-align: center;
}
footer{
    font-style: italic;
    color: white;
    text-align: center;
    margin-top: 7px;
}